#----------------common-------------------
output_*
*.db
*.tlog
*.opendb
.suo
#----------------common-------------------

#----------------CartoonMaker------------------
.VS/*
Debug/*
ipch/*
x64/*
CartoonMaker/x64/*
CartoonMaker/Debug/*
#----------------CartoonMaker------------------